<h2 class="h2 d-flex justify-content-center text-secondary">Stupid Coaching</h2>
<p class="text-primary d-flex justify-content-center"><%= @result %></p>
<%= link_to "Ask a new question", ask_path, class:"btn btn-secondary d-flex justify-content-center" %>
