<h2 class="h2 d-flex justify-content-center mb-2 text-primary">Ask your coach anything:</h2>
<form action="answer"class="input-group mb-3" data-turbo="false">
  <input type="text" class="form-control " placeholder="To write..." aria-label="To write" aria-describedby="basic-addon2" name="answer">
  <input class="btn btn-outline-secondary" type="submit" value="ask!">
</form>
